@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Odibee+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kumbh+Sans:wght@700&family=Odibee+Sans&display=swap');


:root {
    font-family: 'Noto Sans TC', sans-serif, 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.is-ancestor {
    min-height: 1000px;
}

.signature {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#fff, #48BFE3, #5390D9, #5E60CE, #7400B8, #6930C3);
    color: #4ea8de;
    margin-top: auto;
    margin-bottom: auto;
}

.main {
    background-image: url(./assets/big-esports-event.jpg);
    background-size: cover;
   
}

.main-cod {
    background-image: url(./assets/wp5857206-call-of-duty-warzone-4k-wallpapers.jpg);
    background-size: cover;
    
}

.main-valorant {
    background-image: url(./assets/VALORANT_YR1_ArticleHero_16_9.png);
    background-size: cover;
   
}

.tile-borders {
    border-radius: 0.7rem;
}


/* the header */
.jumbotron {
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    border-bottom: #fff;
    background-image: linear-gradient( #80FFDB, #72EFDD,#56CFE1, #48BFE3, #4EA8DE, #5390D9, #5E60CE, #6930C3, #7400B8);
    color: #7400B8;    
}
  


/* this is the header bar and title */
.jumboTitle{
    color:rgb(80, 44, 243);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.7rem;
    font-family:'Kumbh Sans', sans-serif;
    
}

.underTitle{
    color: #80FFDB;
    font-size: 2rem;
    margin-bottom: 1rem; 
    text-align: center;
}

#utSpan{
    color: #fb94ff;
}


/* this is the Game selection container */

.game-chooser {
    display: flex;
    
}

.gameItems{
    color: #7400B8;
    cursor: pointer;
    box-shadow:0 5px 10px 0 #f72585;
    font-weight: bolder;
    font-size: 2rem;
    background-image: linear-gradient(#80FFDB, #72EFDD,#56CFE1, #48BFE3);
}

.gameItems:hover {
    cursor: crosshair;
    transition: all 1.5s;
    box-shadow: inset 0 0 0.3rem 0.3rem #f72585;
}

#currentTournos {
    max-width: 25rem;
}


#dropdownTitle{
    font-size: 3.5rem;
    color: #27fdf5;
    font-family: 'Odibee Sans', cursive;
}

.dropdown-content:hover{
    
    transition: transform 150ms;
    transform: scale(1.05);
}


.streamVideo {
    display: flex;
    align-items: right;
    justify-content: space-around;
    margin-right: 0;
    float:right
}


.dropdownGameSelect {
    display: flex;
    justify-content: left;
    align-items: left;
}


.selectorContents {
    justify-content: space-between;
}

/* this is the container with the IMG in it */
#imgTile {
    background-color: rgb(155, 153, 153, 0.66);
}

.imgTitle {
    font-size: 1.6rem;
    font-weight: bolder;
    color: #27fdf5;
    font-family:'Noto Sans TC', sans-serif, 'Open Sans', sans-serif;
}


.isLive{
    color: #27fdf5;
    font-size: 1.2rem;
    font-weight: bolder;

    
}

/* basic container background */
.container {
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}


.firstColumn {
    font-size: 24px;
}

#gameImg {
    border-radius: 0.8rem;
}

/* ================================================================the tournaments section =====================================================================*/

#tourTile {
    background-color: rgb(155, 153, 153, 0.66)
}

.tourneyTitle {
    font-size: 2.8rem;   
    color:#27fdf5;
    text-decoration: underline;
    padding-bottom: 1rem;


}

.tourneyContent {
    display: flex;   
    justify-content: space-between;
    align-items: left;
}


.insideTourn {
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 1.8rem;
    color: #27fdf5;
}

.inTeams {
    display: flex;    
    align-items: right;
    justify-content: right;
    align-items: right;
    color: #27fdf5;
    font-size: 1.7rem;
}


/* ===================================================this is the stream info styling====================================== */

#sideColumn {
    background-color: rgb(155, 153, 153, 0.66);
    color: #343542;
}

#selectorSpace {
    background-color: rgb(155, 153, 153, 0.66);
}

.streamTitle {
    font-size: 1.8rem;
    color: #27fdf5;
    font-weight: bolder;
}

#placeInfo {
    color: #27fdf5;
}

#stream-info-container, #tourney-container {
    margin-bottom: 0;
}